@charset "UTF-8";

.body {
	background-color: rgb(255, 255, 255);
	margin: 0px;
	padding: 0px;
}

.bodyHome {
	background-color: rgb(255, 255, 255);
	width: 100%;
	margin: 0px;
	padding: 0px;
	animation-name: bodyFlow;
	animation-duration: 1s;
	animation-delay: 0s;
	overflow-x: hidden;
}

@keyframes bodyFlow {
  	from { opacity: 0.8; }
  	to { opacity: 1; }
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 15px;
}
.yellow {
	border-radius: 5px;
  	border-bottom: 10px solid #5d3387;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: #feba2e;
	width: 100%;
	padding: 0px 20px;
}

.logo {
	width: 145px;
	height: auto;
	margin-left: 20px;
	animation-name:changeColor;
  	animation-duration: 2s;
  	animation-delay: 1s;
}

.title {
	color: #5d3387;
	margin: 0px;
	margin-left: 1px;
	font: italic bold 50px serif;
}

.titleContent {
	display: flex;
	flex-wrap: wrap;
  	max-width: 50%; 
    margin: 15px auto;
  	font-size: clamp(24px, 4vw, 30px);
  	text-align: center;
}

 .content {
 	display: flex;
 	max-width: 1000px;
	margin: 15px auto;
 	font-size: 15px;
 	line-height: 1.4;
 }

.fanContentLeft {
	max-width: 700px;
	margin: 15px auto;
	margin-left: 18%;
	font-size: 15px;
	line-height: 1.6;
	text-align: center;
}

.fanContentRight {
	max-width: 700px;
	margin: 15px auto;
	margin-right: 18%;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
}

.QAContent {
	max-width: 900px;
	margin: 15px auto;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
}

.Button {
  	text-decoration: none;
  	color: #5d3387;
  	background-color: white;
  	padding: 15px 15px;
  	margin: 5px 32px;
  	border-radius: 5px;
  	border: 8px solid;
  	display: inline-block;
 	font: italic bold 19px serif;
 	font-size: 23px;
  	text-align: center;
  	animation-name:changeColor;
  	animation-duration: 2s;
  	animation-delay: 1s;
  	transition: transform .5s;
  	cursor: pointer;
}

@keyframes changeColor {
	25% { rotate: 15deg; }
	50% { rotate: -15deg; }
	75% { rotate: 15deg; }
	100% { rotate: 0deg; }
}

.Button:hover {
	transform: scale(1.3,1.3);
}


.video {
  	display: flex;
  	justify-content: center;
  	margin: 20px 0;
}

.yellowText {
	color: #f5b326;
}

.playerCard {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;  
}

.playerPhoto {
	margin-bottom: 40px;
    width: 300px;     
    height: auto;
    border: 10px solid #5d3387; 
    border-radius: 10px;
}

.jerseyNumber {
    font-size: 40px;
    color: #feba2e;   
    margin: 0;
}

.playerName {
    font-size: 50px;
    color: #5d3387; 
    margin: 10px 0;
}

.playerInfo {
    max-width: 600px; 
    margin: 15px auto;  
    line-height: 1.6;
  	font-size: 20px;
}

.footer {
	padding-top: 40px;
	top: 5px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: linear-gradient(to top, #feba2e, white);
	/* background-color: #feba2e99; */
	height: 350px;
	border-radius: 5px;
  	border-top: 10px solid #5d3387;
  	overflow-x: hidden;
  	box-sizing: border-box;
}

.footerContent {
	display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px;
	font-size: 10px;
}

.footerLogo {
	width: 145px;
    height: auto;
   
    position: relative;
    cursor: pointer;
    align-self: flex-start;
    /* animation: dribble 3s linear; */
}

.footerLabel {
	font: 30px segoe script;
	color: #5d3387;
	position: absolute;
}

.uploadContainer {
  border: 5px dashed #5d3387;
  padding: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background 0.3s;
}

.uploadContainter:hover {
	background-color: #f0e6ff;
}

.customLabel {
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  color: #5d3387;
  display: block;
}

.submitBtn {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #5d3387;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#dribbleTrigger {
    display: none;
}

#dribbleTrigger:checked + label .footerLogo {
    animation: dribble 10s linear;
}

@keyframes dribble {

    0%  { transform: translate(0,0); }

    5%  { transform: translate(6vw,-35px); }
    10% { transform: translate(12vw,0); }

    15% { transform: translate(18vw,-35px); }
    20% { transform: translate(24vw,0); }

    25% { transform: translate(30vw,-35px); }
    30% { transform: translate(36vw,0); }

    35% { transform: translate(42vw,-35px); }
    40% { transform: translate(48vw,0); }

    45% { transform: translate(54vw,-35px); }
    50% { transform: translate(60vw,0); opacity:1; }

    /* exit screen right */
    55% { transform: translate(100vw,-35px); opacity:0; }

    /* teleport left */
    56% { transform: translate(-100vw,0); opacity:0; }

    /* continue dribbling back */

    60% { transform: translate(-70vw,-35px); opacity:1; }
    65% { transform: translate(-55vw,0); }
    70% { transform: translate(-40vw,-35px); }
    75% { transform: translate(-30vw,0); }
    80% { transform: translate(-20vw,-35px); }
    85% { transform: translate(-12vw,0); }
    90% { transform: translate(-6vw,-35px); }
    100% { transform: translate(0,0); }
}
