@charset "UTF-8";

body {
	background-color: rgb(255, 255, 255);
	margin: 0px;
	padding: 0px;
}

.yellow {
	border-radius: 5px;
  	border-bottom: 10px solid #5d3387;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: #feba2e;
	width: 100%;
	padding: 0px 20px;
	height: 140px;
}

.logo {
	width: 145px;
	height: auto;
	margin-left: 20px;
}

.title {
	display: flex;
	color: #5d3387;
	margin: 0px;
	margin-left: 1px;
	font: italic bold 50px serif;
}

.titleContent {
	display: flex;
  	max-width: 800px; 
    margin: 15px auto;
  	font-size: 20px;
}

 .content {
 display: flex;
 max-width: 1000px;
 margin: 15px auto;
 font-size: 15px;
 line-height: 1.3;
 }

.Button {
  	text-decoration: none;
  	color: #5d3387;
  	background-color: white;
  	padding: 15px 30px;
  	margin: 5px 32px;
  	border-radius: 5px;
  	border: 10px solid;
  	display: inline-block;
 	font: italic bold 19px serif;
 	font-size: 20px;
  	text-align: center;
  	transition: background-color 0.3s;
  	cursor: pointer;
}

.Button:hover {
  	background-color: #aaa; 
}

.video {
  	display: flex;
  	justify-content: center;
  	margin: 20px 0;
}

.yellowText {
	color: #f5b326;
}

.playerCard {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;  
}

.playerPhoto {
    width: 300px;     
    height: auto;
    border: 5px solid #5d3387; 
    border-radius: 10px;
}

.jerseyNumber {
    font-size: 40px;
    color: #feba2e;   
    margin: 0;
}

.playerName {
    font-size: 50px;
    color: #5d3387; 
    margin: 10px 0;
}

.playerInfo {
    max-width: 600px; 
    margin: 15px auto;  
    line-height: 1.6;
  	font-size: 20px;
}

